/********General********/
html, body {
    height: 100%;
}
body {
    padding: 50px 0 0 0;
    margin: 0;
}

header {
    padding: 10px;
}

main {
    padding: 10px;
    padding-bottom: 90px; /* Height of the footer */
}

footer {
    position: absolute;
    padding: 10px;
    bottom: 0;
    width: 100%;
    height: 90px; /* Height of the footer */
    background-color: #f5f5f5;
}

/*****Navbar******/
.navmenu {
    padding-top: 50px;
}

.navbar {
    display: block;
    text-align: center;
}

.navbar-brand {
    display: inline-block;
    float: none;
}

.navbar-toggle {
    position: absolute;
    float: left;
    margin-left: 15px;
}

.container {
    max-width: 100%;
}

@media (min-width: 1px) {
    .navbar-toggle {
        display: block !important;
    }
}

@media (min-width: 992px) {
    body {
        padding: 0 0 0 300px;
    }

    .navmenu {
        padding-top: 0;
    }

    .navbar {
        display: none !important; /* IE8 fix */
    }
}

.dropdown-menu {
    top: 0;
    left: 100%;
}

.navbar-nav > li > a:hover {
    border-bottom: solid;
    border-color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
 	color: white;
	border-bottom: solid;
    border-color: rgb(47, 148, 249);
}

.masthead {
    background-size: cover;
    color: white;
}

.index{
	background-image: url("../img/laptop.jpg");
	background-position: center center;
}

.back{
	background-image: url("../img/back.jpg");
}
#main-content{
	border-left: 3px solid rgb(47, 148, 249);
}
header {
    height: 280px;
}
hr
{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px rgb(47, 148, 249) inset;
}
.navbar {
    background-color: transparent;
    transition: background-color 1s ease;
    border: none;
}

.navbar:hover {
    background-color: black;
    transition: background-color 1s ease;
    border: none;
}

.navbar-default .navbar-nav>li>a {
    opacity: 1;
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    opacity: 1;
    color: rgb(47, 148, 249);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    /* Firefox */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    /* Safari and Chrome */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    /* Opera */
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#content {
    margin-top: 25px;
    min-height: 300px;
}

#page-title>h1 {
    font-size: 3em;
	font-style: italic;
}

#page-title>h1::before {
    content: "-------- ";
    letter-spacing: -7px;
}

#page-title>h1::after {
    content: "-------- ";
    letter-spacing: -7px;
}

#page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.scroll-top {
    position: fixed;
    bottom: 0;
    right: 6%;
    z-index: 100;
    background: #b8bbc2;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.scroll-top a:link, .scroll-top a:visited {
    color: #222;
}

.nav>li>a:hover{
    background-color: rgb(47, 148, 249);
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.scroll-top a:focus {
    outline: none;
}


@media (min-width: 768px) {
    #sidebar.affix-top {
        position: static;
    }
    #sidebar.affix-bottom {
        position: absolute;
    }
    #sidebar.affix {
        position: fixed;
        top: 80px;
        width: 13%;
		height: 85%;
		overflow-y: scroll;
        /*weird but still*/
    }
	#sidebar{
		font-size: 17px;
	}
}
.spacer{
	width: 100%;
	margin-top:200px;
}
